html{
    background-color: rgb(117, 14, 14);
}

#heading {
    margin-top: 0;
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 555%;
}


.contact{
    text-align: center;
    font-size: 600%;
}

.box{
    margin-top: -2.5%;
    background-color: whitesmoke;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    border: 10px solid black;
    overflow: auto;
}

.email{
    text-decoration: underline;
    text-align: center;
    font-size: 45px;
   
}

.column{
    float: center;
    background-color: whitesmoke;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    border: 10px solid black;
    overflow: auto;
}

#LinkedIn{
    text-decoration: underline;
    text-align: center;
    font-size: 45px;
}

.emailP {
    
    border: 3px black solid;
    width: 15%;
    height: 15%;
}

#logo {
    border: 3px black solid;
    width: 15%;
    height: 15%;
}

p{
    text-align: center;
    font-size: 35px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
    font-size: 20px;
  }
  
  .next {
    font-size: 20px;
    background-color: #4CAF50;
    color: black;
  }
  