html {
    background-color: rgb(117, 14, 14);
}

#heading {
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 455%;
}

#myPic {
    
    border: 5px black solid;
    width: 355px;
    height: 340px;
    border-image-width: 55px;
    
}

body {
    text-align: center;
}

a:link {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration: underline;
}

#aboutMe {
    transition-duration: 0.4s;
    font-size: 30px;
    margin-right: 10px;
}

.aboutMe:hover {
    background-color: red;
    color: red;
}

#contactMe {
    transition-duration: 0.4s;
    font-size: 30px;
}

.contactMe:hover {
    background-color: red;
    color: red;
}

.boxed{
    background-color: whitesmoke;
    right: 50%;
    width: 50%;
    top: auto;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
}
#myExperience {
    font-size: 40px;
    text-decoration: underline black;
}


.aboutMeDiv {
    height: 20px;
    line-height: 5px;
    margin-top: 1.1%;
    margin-left: -0.50%;
    margin-right: -0.50%;
    border: 1px black;
    width: auto;
    color: black;
    background-color: black;
}

#myExperienceP{
    font-size: 115%;
}

a:link {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration: underline;
}
#myMeow {
    transition-duration: .4s;
    font-size: 30px;
    text-decoration: underline;
}

.myMeow:hover {
    background-color: red;
}

